[user]
	name = Bernhard Bliem
	email = bernhard@bliem.xyz
[alias]
	alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1 = \\2/' | sort
	ci = commit
	cia = commit --amend
	logd = log --format=medium -p
	logl = log --format=medium --decorate
	logg = log --graph
	logb = log --graph --branches
	st = status
[color]
	ui = auto
[format]
	pretty = %C(yellow)%h%Creset %s%C(magenta bold)%d %C(blue)<%an> %C(green)(%ar)%Creset
[push]
	default = simple
[branch]
	autosetuprebase = always
[credential]
	helper = cache --timeout=7200
[rebase]
  autostash = true
